<h1>Sinatra Boilerplate</h1>

<p>The app is hosted at <a href="https://a6aed827.ngrok.io/" target="_blank">https://a6aed827.ngrok.io</a> thanks to <a href="https://ngrok.com/" target="_blank">ngrok</a>.</p>

<a href="/team" class="block-link">Check the team</a>

<a href="/deployment" class="block-link">How to deploy with Sinatra</a>
