<h1>The team</h1>

<ul>
  <li>My buddy</li>
  <li>Me</li>
  <li>Another guy</li>
</ul>

<p>Type an username in the url (e.g. <code>/team/:username</code>) to access the show page with a routing parameter.</p>

<a href="..">Back to homepage</a>

